@use "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #FFDA9A;
}

.primary-gradient{
  background: linear-gradient(
                  to right,
                  #A88C65,
                  #FFDA9A,
                  #C7AD72
  );
}
